ul {
  list-style-type: none;
}
/*Header*/

.navigation {
  color: #2e2f42;
}
.navigation:hover,
:focus {
  color: #404bbf;
  background-color: #ffffff;
}

.address {
  color: #434455;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
}

/*body*/

.body {
  font-family: roboto;
  color: #2e2f42;
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #2e2f42;
}
.title:hover,
:focus {
  background-color: #ffffff;
}

.titleblue {
  color: #4d5ae5;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.hero-button {
  background: #4d5ae5;
  color: #ffffff;
}

.hero-button:hover,
:focus {
  background-color: #404bbf;
}

/*sectio two*/

.section-two {
  margin: 120px 156px;
}

.list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.list-skills {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

/*section-three*/
.section-three {
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

/*footer*/

.footer {
  background: #2e2f42;
}
.title-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #f4f4fd;
}

.list-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e7e9fc;
}

/*portfolio*/

.button-portfolio {
  background: #f4f4fd;
  color: #4d5ae5;
}

.button-portfolio:hover,
:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.list-item-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}
.list-skills-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
